.background-pane {
    -fx-background-color: linear-gradient(from 40% 40% to 100% 100%, white, rgb(163, 163, 163));
}

.text {
    -fx-font-family: Calibri;
    -fx-font-weight: Bold;
}

.small-pane {
    -fx-background-color: transparent;
}

.list-view {
    -fx-base: #e2e2e2;
}

.right-list-view {
    -fx-base: #9a9a9a;
}

.button {
    -fx-background-radius: 0;
    -fx-base: #131dff;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.add-button {
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
}

.add-button-exited {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
    -fx-background-color: transparent;
}

.grey-text-button {
    -fx-text-fill: #4c4c4c;
    -fx-background-color: transparent;
}

.minor-button {
    -fx-font-size: 13px;
}

.grey-button {
    -fx-base: #4c4c4c;
}

.red-text-button {
    -fx-text-fill: #aa0000;
    -fx-background-color: transparent;
}

.payment-button {
    -fx-base: #151bb0;
}

.red-button {
    -fx-base: #aa0000;
}

.main-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
}

.sub-text {
    -fx-opacity: 0.8;
}

.grey-text {
    -fx-fill: #4c4c4c;
}

.progress-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #032090, #001e52);
    -fx-font-size: 35px;
}

.red-progress-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #740004, #3c0004);
}

.name-label {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #032090, #001e52);
    -fx-font-size: 37px;
}

.red-name-label {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #740004, #3c0004);
}

.back-label {
    -fx-font-size: 20px;
}

.back-label-hovered {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
}

.progress-indicator {
    -fx-accent: linear-gradient(from 0% 0% to 0% 100%, #0031ff, #00c9ff);
}

.red-progress {
    -fx-accent: linear-gradient(from 0% 0% to 0% 100%, #ff0001, #7b0001);
}

.radio-button {
    -fx-font-size: 17px;
}
