.background-pane {
    -fx-background-color: linear-gradient(from 40% 40% to 100% 100%, white, rgb(163, 163, 163));
}

.small-pane {
    -fx-background-color: transparent;
}

.list-view {
    -fx-base: #e2e2e2;
    -fx-text-fill: black;
}

.right-list-view {
    -fx-base: #9a9a9a;
}

.button {
    -fx-background-radius: 0;
    -fx-base: #131dff;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
}

.add-button {
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
}

.add-button-exited {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
    -fx-background-color: transparent;
}

.white-text-button {
    -fx-font-weight: bold;
}

.white-text-button .text {
    -fx-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5 , 0.0 , 1 , 1 );
}

.red-text-button .text {
    -fx-fill: #aa0000;
}

.grey-button {
    -fx-base: #4c4c4c;
}

.payment-button {
    -fx-base: #151bb0;
}

.red-button {
    -fx-base: #aa0000;
}

.split-button {
    -fx-font-size: 25px;
}

.big-button {
    -fx-font-size: 18px;
}

.empty-button {
    -fx-font-size: 13px;
}

.main-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
}

.pane-text {
    -fx-font-weight: Bold;
    -fx-font-size: 43px;
}

.amount-text {
    -fx-fill: #14ab00;
    -fx-font-size: 19px;
}

.sub-text {
    -fx-opacity: 0.8;
}

.grey-text {
    -fx-fill: #4c4c4c;
}

.progress-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #032090, #001e52);
}

.red-progress-text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #740004, #3c0004);
}

.name-label {
    -fx-font-size: 37px;
    -fx-font-weight: Bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #032090, #001e52);
}

.red-name-label {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #740004, #3c0004);
}

.label-text {
    -fx-font-weight: Bold;
    -fx-font-size: 24px;
}

.back-label {
    -fx-font-size: 15px;
}

.back-label-hovered {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #0234ff, #006fff);
}

.progress-indicator {
    -fx-accent: linear-gradient(from 0% 0% to 0% 100%, #0031ff, #00c9ff);
}

.red-progress {
    -fx-accent: linear-gradient(from 0% 0% to 0% 100%, #ff0001, #7b0001);
}

.owes-me {
    -fx-background-color: #56ff51;
    -fx-text-fill: #0a4e00;
}

.owing {
    -fx-background-color: #ff6262;
    -fx-text-fill: white;
}

.even {
    -fx-background-color: #5e98ff;
    -fx-text-fill: white;
}

.owes-me:hover {
    -fx-background-color: #10a600;
    -fx-text-fill: white;
}

.owing:hover {
    -fx-background-color: #d70006;
}

.even:hover {
    -fx-background-color: #2d49ff;
}

.required-text-field {
    -fx-base: red;
}

.transparent-button {
    -fx-background-color: transparent;
}

.list-label:hover {
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-base: #0234ff;
}